.custome{
    width:100%;
    height:400px;
    border-radius:5%;
    box-shadow: 2px 2px 12px 2px rgb(15, 16, 15);

}
.customParent{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;

}

.custom_child{
    width:23%;
    height: max-content;
    display: grid;
    margin-bottom:0.3rem;
   
  
}
.custom_child h1{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-shadow: 1px 90px 50px rgb(15, 14, 14);
text-decoration-line:overline;
font-style: italic;
font-weight: 800px;
font-size:2.5rem;
color :rgb(6, 42, 45);
border: 2px solid wheat;
border-radius: 8px;
box-shadow: 2px 2px 12px 2px rgb(15, 16, 15);
padding : 1rem;
align-items: center;
text-align: center;
margin-bottom: 0.5rem;  
text-transform: uppercase;

}


    .one{
        animation: one ease-in-out 8s;
    }
    .two{
        animation: two ease-in 10s;

    }
    .four{
        animation: one ease 12s;

    }
    .three{
        animation: two ease 14s;

    }
   body{
    width: 100%;
   }

@keyframes one {
    0%{
        transform: translateX(-500px)
    }
}
@keyframes two {
    0%{
        transform: translateX(500px)
    }
}


@media only screen and  (max-width:768px) {
    .customParent{
        display:grid;
        width: 100%;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin:10px;
    }
    .custome{
        width:100%;
    }

    .custom_child{
        /* width: 100%; */
                width:96%;
        height: max-content;
        /* column-gap: 1rem; */
        /* row-gap: 1rem; */
    }
}
